.container {
  margin: auto;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background: gold;
  width: 50%;
  height: 40%;
}

.box {
  background-color: #fff9c4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: aqua;
  text-align: right;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.6) 3px 3px;
  font-weight: 900;
}

.card:hover {
  background-color: rgba(0, 255, 255, 0.5);
}

.card:active{
  background-color: rgb(2, 66, 66);
  box-shadow: none;
  transform: translateY(3px) translateX(3px);
}
